[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-togglemouse"]
	path = vim/bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "zsh/git-flow-completion"]
	path = zsh/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = https://github.com/starcraftman/zsh-git-prompt.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "zsh/conda-zsh-completion"]
	path = zsh/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
